body {
  display: flex;
  justify-content: center;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: Academy Engraved LET;
}

.main-wrapper {
  width: 90vw;
  border: 1px solid black;
  /* padding: 10px 0px; */
}

.main-wrapper h1 {
  text-align: center;
  flex: 1;
}

.nav-wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333333; */
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  color: #b0b0b0;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  flex-wrap: wrap;
}

.content-wrapper .section {
  flex: 2;
  padding: 10px;
}

.content-wrapper .aside {
  flex: 1;
  padding: 10px;
}

.blog-item {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  float: right;
  margin-right: 50px;
  box-shadow: 1px 2px 5px 1px rgba(209, 209, 209, 0.2);
  margin-bottom: 20px;
}

.blog-item .blog-image {
  width: 250px;
  height: 250px;
}

.blog-item .blog-summary {
  flex: 1;
  padding-left: 20px;
}

.aside .item {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  box-shadow: 1px 2px 5px 1px rgba(209, 209, 209, 0.2);
  margin-bottom: 20px;
}

.aside ol {
  margin-top: 0;
}

.aside li {
  margin-bottom: 10px;
}

footer {
  padding: 10px 30px;
}

footer p {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

.gufa {
  background: url("../images/surya-darshan.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.7s ease-in-out;
}

.gufa:hover {
  background: url("../images/ihi.jpg") no-repeat center;
  background-size: cover;
}

.travel {
  background: url("../images/DSCF2329-copress.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.7s ease-in-out;
}

.travel:hover {
  background: url("../images/DSCF2387.jpg") no-repeat center;
  background-size: cover;
}

.food {
  background: url("../images/food/samay-baji.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.7s ease-in-out;
}

.food:hover {
  background: url("../images/food/dal-bhat.jpg") no-repeat center;
  background-size: cover;
}

.photo-gallery .photo {
  background-size: cover;
  width: 150px;
  height: 150px;
}

.photo-gallery .photo-lg {
  background-size: cover;
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  padding: 0 20px;
  display: none;
}

@media only screen and (max-width: 600px) {
  .main-wrapper {
    width: 100%;
  }
  .nav-wrapper {
    display: none;
  }

  .header a {
    display: block;
  }

  .blog-item {
    width: 80vw;
    flex-direction: column;
  }

  .blog-item .blog-image {
    width: 80vw;
    height: 80vw;
  }

  .content-wrapper .aside .item {
    /* padding: 0; */
    width: 80vw;
  }
}
